*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #8f98aa;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #f5f4f4;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 58px;
    color: rgb(10, 10, 10);

}
.header a {
    color: #fcfbfb;
    text-decoration: none;
}
.header nav {
    padding-top: 15px; 
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header nav ul {
    list-style-type:none
}

.header nav ul li {
    display: inline-block;
    margin-left: 50px;
}


main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
h2 {
    display: left;
    margin-bottom: 10px;
    font-size: 28px;
}
.PPicture {

    height: 800px;
    padding: 25px;
    width: 32%;
    margin-left: 15px;
    margin-right: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-image: url("assets/images/Profile_Picture.png");
    background-size: cover;
    background-position: center;
    
}
.content {
    width: 50%;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    justify-content: right;
    text-align:center;
    word-wrap: break-word;
}

p {
    font-size: 20px;
    margin: -5px;
    padding: -5px -5px;
    text-align: left;
    font-style: italic;
}
.About-me {
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 50px;
    height: auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    text-size-adjust: auto;
    flex-shrink: inherit;
   
}

.Work {
    margin-bottom: 10px;
    padding: 50px;
    height: auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Projects {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 50px;
    height: auto;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    text-align: center;
}
.Projects a {
    display: inline-block;
    flex-shrink: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    padding: 1rem;
  /* outline is like border, but on the outside of the box instead of inside */
    outline: 5px solid rgb(255, 254, 254);
    outline-offset: -1px;
    transition: all 0.5s ease-in-out;
}
/*add features to images so they can adjust when resizing the website*/
.Projects img {
    max-width: 100%;
    width: auto;
    flex-shrink: inherit;
}

/*add hover pseudo to images for nice effect*/
.Projects img:hover {
  box-shadow: 0 0 25px rgb(0, 0, 0);
  flex-shrink: 3;
}

.Contact{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0e334b;
    color: #ffffff;
}
.Contact h3 {
    color: #fffdfd;
    text-decoration: none;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
}
.Contact ul {
        margin-bottom: 30px;
        font-size: 18px;
        text-align: center;
        list-style-type: none;
    }
   

footer {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #f5f4f4;
    text-align: center;
}


.footer h3 {
    font-size: 16px;
}
.footer p {
    font-size: 12px;
}
/*add media screen to readjust when resizing the website*/
@media screen and (min-width: 768px) {
    
    .main {
      flex: 0 0 50%;
      max-width: 50%;
    }
}